.App {
  text-align: left;
  background-color: #F1F1F1;
  justify-content: center;
  /* background-color: black; */
  /* color: white; */
}

#header {
  background-color: black;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}


#banner {
  display: flex;
  height: 20vh;
  /* width: 500px; */
}

#nav span{
  color: white;
  padding: 0 5px;
}

.battle {
  display: flex;
  flex-direction: row;
  background-image: image();
}

#right-guy {
  display: flex;
  width: 70vw;
  /* background-color: lightgray; */
  padding: 20px;
  justify-content: center;
}

#left-guy {
  display: flex;
  width: 30vw;
  /* background-color: lightgray; */
  padding: 40px;
  justify-content: center;

}

button {
  padding: 50px;
  margin: 10px;
  font-weight: bold;
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

#brute {
  /* background-color: rgb(208, 48, 28); */
  background-color: black;
  color: white;
  border-radius: 10%;
  padding: 30px;
  font-size: larger;
}

#tact {
  /* background-color: rgb(99, 22, 99); */
  background-color: black;
  color: white;
  box-sizing: border-box;
  border-radius: 10%;
  padding: 30px;
  font-size: larger;
}

#hell {
  /* background-color: rgb(35, 78, 35); */
  background-color: black;
  color: white;
  box-sizing: border-box;
  border-radius: 10%;
  padding: 30px;
  font-size: larger;
}